{% extends "base.html" %}
    
{% block content %}

{% for  message in get_flashed_messages() %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endfor %}

{% if name %}
<h1>User Added</h1>
<br/>
<table class="table table-hover table-striped">
    {% for our_user in our_users %}
    
    <tr>
    </tr>
    <td>{{ our_user.id }}</td>
    <td>{{ our_user.name }}</td>
    <td>{{ our_user.email}} </td>
    
    
    {% endfor %}
    </table>


{% else %}
<h1>What is your naam?</h1>
<br/>
<form method="POST">
{{ form.hidden_tag() }}

{{ form.name.label(class="form-label")}}
{{ form.name(class="form-control")}}
<br/>
{{ form.email.label(class="form-label")}}
{{ form.email(class="form-control")}}

{{ form.submit(class="btn-btn-secondary") }}
</form>
<br/>
<br/>
<table class="table table-hover table-striped">
{% for our_user in our_users %}

<tr>
</tr>
<td>{{ our_user.id }}</td>
<td>{{ our_user.name }}</td>
<td>{{ our_user.email}} </td>


{% endfor %}
</table>
{% endif %}
 {% endblock %}